.card {
    width: 980px;
    /* height: 765px; */
    display: flex;
    flex-direction: column; /* Cambiar a column para que los AddPieceCard se apilen verticalmente */
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    overflow: auto; /* Asegurar que el contenido adicional sea visible */
    /* max-height: 80vh; Establecer un límite máximo de altura para evitar que el contenedor se expanda demasiado */
    margin-bottom: 30px;
}

.button {
    width: 140px;
    height: 50px;
    border-radius: 22.764px;
    font-size: 40px;
    margin: 0 0 10px 20px;
}

.button svg {
    width: 30px; /* Ajusta el tamaño del icono según sea necesario */
    height: 30px;
}

.pieceContainer {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre las piezas */
}
